* {
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "TT Hoves";
    margin: 0;
    padding-top: calc(-0.3vw + 41px);
    color: #222;
}
section {
    padding-left: calc(10vw - 16px);
}

.courseData {
    margin-top: calc(6vw + 44px);
    display: flex;
    flex-wrap: wrap;
}
.courseInfo {
    height: calc(2vw + 36px);
    margin-right: calc(5vw + 24px);
    margin-bottom: calc(5vw + 11px);
}
.courseInfo1 {
    height: calc(2vw + 36px);
    margin-bottom: calc(3vw + 36px);
}
.title {
    font-size: calc(0.5vw + 14px);
    line-height: 140%;
}
.value {
    font-size: calc(0.5vw + 14px);
    font-weight: 700;
    line-height: 140%;
}
.zagalovka5 {
    margin: 0;
    font-family: Chava;
    font-size: calc(4vw + 26px);
    line-height: 110%;
}
.paragraph {
    width: calc(66.5vw + 79px);
    height: 190px;
    font-size: calc(0.9vw + 14px);
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 0;
}
.cta {
    display: flex;
    margin-top: 20px;
    gap: 20px 30px;
    flex-wrap: wrap;
    margin-bottom: calc(11vw + 19px);
}
.primary {
    width: 328px;
    background-color: #6e3aba;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}
.secondary {
    width: 328px;
    background-color: #fff;
    border-radius: 12px;
    color: #6e3aba;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
    border: 1px solid #6e3aba;
}

.primary:hover {
    cursor: pointer;
}
.secondary:hover {
    cursor: pointer;
}

.page2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(11vw + 19px);
}
h2 {
    margin: 0;
    display: flex;
    width: 769px;
    height: 136px;
    font-size: calc(2.2vw + 30px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.backend {
    display: flex;
    flex-wrap: wrap;
}
.first {
    height: 506px;
    width: 450px;
    margin-top: calc(5.5vw + 19px);
    margin-right: 70px;
}
.programmer {
    width: 420px;
    font-size: calc(0.9vw + 14px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.paragraphs {
    font-size: calc(0.9vw + 14px);
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0;
    margin-top: 0;
}
.second {
    margin-top: calc(5.5vw + 19px);
    width: 450px;
    height: 468px;
}
.student {
    margin: 0;
    font-size: calc(0.9vw + 14px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}
.frontend {
    display: flex;
    flex-wrap: wrap;
}
.third {
    width: 432px;
    height: 468px;
    margin-right: 88px;
    margin-top: 52px;
}
.starter {
    width: 318px;
    display: flex;
    flex-wrap: wrap;
    font-size: calc(0.9vw + 14px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
    margin-top: 23px;
}
.fourth {
    width: 477px;
    height: 506px;
    margin-top: 52px;
}
.new {
    margin: 0;
    font-size: calc(0.9vw + 14px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

.page3 {
    margin-bottom: calc(11vw + 19px);
    display: flex;
    flex-wrap: wrap;
}
.zagalovka {
    width: calc(227.5vw + 40px);
    margin: 0;
    margin-bottom: calc(6.6vw + 5px);
    font-size: calc(2.6vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.teaching {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.zero {
    width: 400px;
    gap: 20px;
    margin-right: 120px;
}
.zagalovka2 {
    font-size: calc(0.9vw + 14px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.one {
    display: flex;
    width: 428px;
    flex-direction: column;
}
.praktika {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
}
.result {
    width: 400px;
    margin-right: 120px;
}
.result2 {
    width: 400px;
}
.page4 {
    margin-bottom: calc(11vw + 19px);
    padding-top: calc(4.4vw + 35px);
    background-color: #6e3aba;
    flex-wrap: wrap;
    padding-bottom: calc(5.1vw + 22px);
}
.skidka {
    color: #fff;
    font-size: calc(2.5vw + 27px);
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin: 0;
    margin-left: calc(15vw - 5px);
    margin-bottom: calc(4vw + 5px);
}
.number {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.day {
    width: calc(18.1vw + 19px);
    margin-right: calc(6.4vw + 8px);
}
.daysChild {
    color: #2f1d4e;
    font-family: Chava;
    font-size: calc(12.5vw + 13px);
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%;
    margin: 0;
}
.daysSecondChild {
    color: #2f1d4e;
    font-size: calc(1.8vw + 3px);
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    margin-top: calc(3.9vw + 6px);
    margin-left: calc(39vw - 130px);
    width: 328px;
    background-color: #fff;
    border-radius: 12px;
    color: #6e3aba;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
    border: 1px solid #6e3aba;
}
.btn:hover {
    cursor: pointer;
}

.section4 h4 {
    font-size: calc(2.65vw + 24px);
    font-weight: 500;
    text-transform: uppercase;
}

.container {
    display: flex;
    gap: 51px;
}
.right-top h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}
.right-top p {
    font-size: 27px;
    line-height: 140%;
    max-width: 560px;
}
.right-cards {
    display: grid;
    grid-template-areas:
        "card1 card2"
        "card3 card4";
}
.right-card:nth-child(1) {
    grid-area: card1;
}
.right-card:nth-child(2) {
    grid-area: card2;
}
.right-card:nth-child(3) {
    grid-area: card3;
}
.right-card:nth-child(4) {
    grid-area: card4;
}
.right-card img {
    margin-bottom: 10px;
}
.right-card p {
    margin: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 140%;
}
